header {
    width: 100%;
    height: 400px;
}

/* chinh sua header */


header nav {
    display: flex;
    margin-right: 30px;
    padding-top: 20px;
    justify-content: end;
    gap: 20px;
}

header nav a {
    text-decoration: none;
    color: black;
}

.body_header {
    display: flex;
    margin-top: 50px;
}

.text_header {
    flex-basis: 50%;
    margin: 60px;

}

.avt_header {
    display: flex;
    flex-basis: 40%;
    justify-content: center;
}

.avt_header img {
    width: 200px;
    height: 200px;
}

button {
    text-align: center;
    background-color: rgb(255, 100, 100);
    border-radius: 2px;
    padding: 5px 10px;
    color: white;
    border: none;
}

@media (max-width:768px) {
    header {
        height: 600px;
    }
}

@media (max-width:480px) {
    header {
        height: 600px;
    }

    .body_header {
        display: flex;
        flex-direction: column-reverse;
    }

    button {
        margin-left: 80px;
    }
}

/* chinh sua phan body */
section {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 30px 0px;
    background-color: rgb(237, 247, 250);
}

.body_web {
    width: 60%;
}

.head_body {
    display: flex;
    padding-bottom: 20px;
    justify-content: space-between;
}

.head_body a {
    text-decoration: none;
}

.body_web .text_body {
    display: flex;
    gap: 10px;
}

.item {
    background-color: white;
    padding: 20px;
    border-radius: 4px;
}

.item div {
    margin-top: 20px;
}

@media (max-width: 480px) {
    .body_web .text_body {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .head_body {
        padding-left: 90px;
    }

    .span_none {
        display: none;
    }
}

/* chinh sua body_fetured_work */
.title {
    padding-left: 20px;
}

.featured_works {
    display: flex;
    justify-content: center;
}

.body_featured_works {
    width: 60%;
}

.item_featured {
    display: flex;
    gap: 20px;
    margin: 20px;
}

hr {
    display: flex;
    width: 93%;
}

.text_opacity {
    opacity: 0.6;
}

.year {
    color: white;
    border-radius: 10px;
    padding: 2px 5px;
    font-size: 12px;
    background-color: rgb(20, 40, 80);
}

@media(max-width:1024px) {
    .item_featured {
        display: flex;
        flex-direction: column;
    }
}

/* chinh sua footer */
footer {
    text-align: center;
    margin-top: 50px;
    width: 100%;
}

footer .icon {
    display: flex;
    justify-content: center;
    height: 20px;
    gap: 20px;
}